<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employee List</h1>
    <table border="1px">
        <tr>
            <th>name</th>
            <th>address</th>
        </tr>
        {%for i in emp %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.address}}</td>
            <td>
                <a href="/empdel/{{ i.id }}">DELETE</a>
            </td>
            <td>
                <a href="/empedit/{{ i.id }}">EDIT</a>
    
            </td>
            <td><a href="/ee/{{i.id}}">edit</a></td>

            <td><a href="/ed/{{i.id}}">delete</a></td> 
        </tr>

        {%endfor%}
    </table> 
</body>
</html>